<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
      	<title>Admin GPS de las economías regionales</title>

      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://getbootstrap.com/examples/dashboard/dashboard.css">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body ng-app="app.dashboard" ng-controller="indexController" style="display: none;" ng-style="{display:'block'}">
        <nav class="navbar navbar-inverse navbar-fixed-top" ng-hide="hideHeaderSide()">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="cursor:pointer;">
                          <img src="../assets/img/logo-gps.png" alt="">
                        </a>
                    </div>
                    <div class="col-md-3">  
                        <div uib-dropdown on-toggle="toggled(open)" style="margin-top: 5px;float: right!important;">

                            <a href="" id="simple-dropdown" uib-dropdown-toggle style="text-decoration:none;">
                               usuario
                                <img class="img-circle" ng-src="{{loggedUser.photoURL}}" height="40">
                                <span class="caret"></span>
                            </a>
                            
                            <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="left: -45px;text-align: right;">
                                <li role="menuitem"><a href="" ng-click="goTo('adminProfile')">Cuenta <span class="glyphicon glyphicon-user" aria-hidden="true"></a></li>
                                <li role="menuitem"><a href="" ng-click="goTo('adminUsers')">Notificaciones <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> </a></li>
                                <li class="divider"></li>
                                <li role="menuitem"><a href="" ng-click="userSignOut()">Cerrar Sesion <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> </a></li>
                             </ul>
                        </div >
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid">  
            <div ng-view></div>            
        </div>
    </body>
    <!-- Vendor js -->
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <!-- Lib js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app.routes.js"></script>
    <script src="scripts/controllers/index-controller.js"></script>
    <script src="scripts/controllers/admin-Profile-controller.js"></script>
    <script src="scripts/controllers/admin-AddProfile-controller.js"></script>
    <script src="scripts/controllers/admin-projects-controller.js"></script>
    <script src="scripts/controllers/admin-users-controller.js"></script>
    <script src="scripts/controllers/admin-apps-controller.js"></script>
    <script src="scripts/controllers/projects-controller.js"></script>
    <script src="scripts/controllers/menu-login-controller.js"></script>
    <script src="scripts/services/login-factory.js"></script>
    <script src="scripts/services/devAppInfo-factory.js"></script>
    <script src="scripts/services/database-factory.js"></script>

    <script src="../app/services/link-factory.js"></script>

    <!-- Import de firebase -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</html>
