<div ng-controller="adminUsersController" ng-init="readUsers();">
  <div class="col-md-12 main">          
    <div class="row page-header">
      <div class="col-md-2">
        <h1>Usuarios</h1>
      </div><!-- /.col-md-2 -->
      <div class="col-md-7"></div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header-->
  </div>

  <uib-tabset active="active">
    <uib-tab heading="Todos"> 
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Perfil creado</td>
              <td>Apps</td>
              <td>Proyectos Activos</td>
              <td>Ganancias último mes</td>
              <td>Ganancias totales</td>
              <td>Ganancias próximo mes</td>
            </tr>
          </thead>
          <tbody>
       <tr ng-repeat="user in userInfoVect">
              <td>{{user.nameCreate}}</td>
              <td>{{user.dateCreate}}</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Clientes">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr >
              <td>Nombre</td>
              <td>Perfil creado el</td>
              <td>Apps</td>
              <td>Proyectos Activos</td>
              <td>Ganancias último mes</td>
              <td>Ganancias totales</td>
              <td>Ganancias próximo mes</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in userInfoClient">
              <td>{{user.nameCreate}}</td>
              <td>{{user.dateCreate}}</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
        <uib-tab heading="Desarrolladores">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr >
              <td>Nombre</td>
              <td>Perfil creado el</td>
              <td>Apps</td>
              <td>Proyectos Activos</td>
              <td>Ganancias último mes</td>
              <td>Ganancias totales</td>
              <td>Ganancias próximo mes</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in userInfoDev">
              <td>{{user.nameCreate}}</td>
              <td>{{user.dateCreate}}</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
              <td>x</td>
            </tr>
          </tbody>
        </table>
      </div>
  </uib-tabset>
</div>

