<div ng-controller="adminAppsController" ng-init="readUsers();">
  <div class="col-md-12 main">          
    <div class="row">
      <div class="col-md-2">
        <h1>Aplicaciones</h1>
      </div><!-- /.col-md-2 -->
      <div class="col-md-7"></div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header-->
  </div> 
  <uib-tabset active="active">
    <uib-tab heading="Todas">
      <div class="table-responsive"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre de la App</th>
              <th>Desarrollador</th>
              <th>Estado</th>
              <th>App Destacada</th>

            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="app in appInfoDev">
              <td>{{app.appName}}</td>
              <td>{{app.appDevName}}</td>
              <td>{{app.appState}}</td>
              <td class="btn-group">
                  <label class="btn btn-primary" ng-model="app.appRadioModel" ng-click="highlightApp(true,app.appName);" uib-btn-radio="'Si'">Si</label>
                  <label class="btn btn-primary" ng-model="app.appRadioModel" ng-click="highlightApp(false,app.appName);" uib-btn-radio="'No'">No</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="En Proceso">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre de la App</th>
              <th>Desarrollador</th>
              <th>Estado</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="app in applications | filter:{State: 'Approved'}">
              <td ng-click="goTo('appPage')">{{app.Name}}</td>
              <td>{{app.Developer}}</td>
              <td ng-click="goTo('appPage')">{{app.State}}</td>
              <td><span></span></td>
              <td></td>
              <td></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td></td>
              <td><span></span></td>
              <td><span></span></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Aprovadas">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
               <th>Nombre de la App</th>
              <th>Desarrollador</th>
              <th>Estado</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="app in applications | filter:{State: 'Published'}">
              <td ng-click="goTo('appPage')">{{app.Name}}</td>
              <td>{{app.Developer}}</td>
              <td ng-click="goTo('appPage')">{{app.State}}</td>
              <td><span></span></td>
              <td></td>
              <td></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td></td>
              <td><span></span></td>
              <td><span></span></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
    <uib-tab heading="Retiradas">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
               <th>Nombre de la App</th>
              <th>Desarrollador</th>
              <th>Estado</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="app in applications | filter:{State: 'Draft'}">
              <td ng-click="goTo('appPage')">{{app.Name}}</td>
              <td>{{app.Developer}}</td>
              <td ng-click="goTo('appPage')">{{app.State}}</td>
              <td><span></span></td>
              <td></td>
              <td></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td><span></span></td>
              <td></td>
              <td><span></span></td>
              <td><span></span></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </uib-tab>
  </uib-tabset>   
</div>