<div ng-controller="adminAddProfileController"> <!-- ng-init="readProfile()" --> 
  <div class="col-md-12 main">          
    <div class="row page-header">
      <div class="col-md-12">
        <h1 style="font-size: -webkit-xxx-large;margin-top: -14px;">Agregar Nueva Cuenta</h1>
      </div><!-- /.col-md-12 -->    
    </div><!-- /.row page-header -->
  </div><!-- /.col-md-12 main -->
  <div class="container-fluid"><!--Profile container-->
    <div class="row">
      <div class="col-md-2 col-md-offset-4" style="text-align:center;">
        <input type="file" id="uploadImgProfile" style="opacity:0" onchange="angular.element(this).scope().setImgProfile(this)"> 
        <!-- <a href="" ng-click="uploadProf('#uploadImgProfile'); checkUploadProfile = true;">  -->
         <img ng-src="{{adminAddProfile.photoURLCreate}}" class="img-circle" width="125%">
          <!-- <span class="glyphicon glyphicon-edit" style="font-size: 60px;visibility: hidden;margin-left: -12px;margin-top: -25px;position: absolute;top: 50%;left: 50%;color: lightgray;"></span> --> 
        <!-- </a>  -->
      </div>
    </div>
    <!-- <br><br> -->
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <form>
          <div class="form-group">
            <label>Nombre</label>
            <input ng-model="adminAddProfile.nameCreate" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" ng-model="adminAddProfile.emailCreate">
          </div>

          <div class="btn-group" uib-dropdown is-open="status.isopen" style="margin-bottom: 10px;">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
              {{nameButtonDropdown}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href="" ng-click="toggled('Administrador ')">Administrador</a></li>
              <li role="menuitem"><a href="" ng-click="toggled('Cliente ')">Cliente</a></li>
              <li role="menuitem"><a href="" ng-click="toggled('Desarrollador ')">Desarrollador</a></li>
            </ul>
          </div>

          <div class="form-group">
            <label>Contraseña actual</label>
            <pre type="password" class="form-control">{{adminAddProfile.passwordCreate}}</pre>
          </div>

          <div style="margin-top: 0px;margin-bottom: 0px;">
            <button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed; checkUploadProfile = true;">Cambiar la Contraseña</button>
            <hr>
            <div uib-collapse="isCollapsed">
              <div class="panel panel-warning">
                <div class="panel-heading">
                  <div class="form-group">
                    <label>Nueva contraseña</label>
                    <input ng-model="adminAddProfile.newPassword" type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Repetir nueva contraseña</label>
                    <input ng-model="adminAddProfile.repetNewPassword" type="password" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br> 
          <div>
            <button type="submit" class="btn btn-danger btn-block" ng-click="saveProfile()">Guardar Cambios</button>  
          </div>                                      
        </form>      
      </div>
      <span class="glyphicon glyphicon-ok" ng-hide="checkUploadProfile" aria-hidden="true" style="color: #3c763d;font-size: 43px;margin-top: 309px;"></span>
    </div><!--/.row-->
    <br><br><br>
  </div><!--/Profile container-->  
</div>



<style>
 
a:hover > img {
  opacity: 0.7;
}

a:hover > span {
  visibility: visible !important;
}

</style>