<div ng-controller="devAppsController" ng-init="readDevApps();">
  <div class="col-md-12 main">          
    <div class="row">
      <div class="col-md-2">
        <h1>Aplicaciones</h1>
      </div><!-- /.col-md-2 -->
      <div class="col-md-7"></div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div><!-- /.col-md-3 -->
    </div><!-- /.row page-header--> 
    <div class="row">
      <div class="col-md-12">
        <uib-tabset active="active">
          <uib-tab heading="Postulaciones">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Icono</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Alquileres</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="app in appsInfoDev">
                    <td><a href="" class="thumbnail" ng-click="openApp('/devNewApp',$index);" style="margin-bottom: initial;"><img ng-src="{{app.appIcon}}"></a></td>
                    <td>{{app.appName}}</td>
                    <td>{{app.appState}}</td>
                    <td>{{app.appRentals}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </uib-tab>
          <uib-tab heading="En proceso">
            <div class="table-responsive">
              <table class="table table-striped">
               
              </table>
            </div>
          </uib-tab>
          <uib-tab heading="Aprobadas">
            <div class="table-responsive">
              <table class="table table-striped">
               
              </table>
            </div>
          </uib-tab>
          <uib-tab heading="Retiradas">
            <div class="table-responsive">
              <table class="table table-striped">

              </table>
            </div>
          </uib-tab>
        </uib-tabset>   
      </div>
  </div>
   
</div>