
<div class="col-md-12 main background">
	<div class="row page-header">
	  <div class="col-md-2">
	    <h1 style="color:white;font-size: xx-large;">Dashboard</h1>
	  </div><!-- /.col-md-2 -->
	</div><!-- /.row page-header -->
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h1 style="color:white;font-size: xx-large;">Sube tu primera Aplicación</h1>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3" class="">
			<div class="wrapper-1">
				<div class="wrapper-2">
					<label class="gc-label">URL o Archivo de tu App</label><br>
					<input style="width:100%" type="text" class="form-control" placeholder="Pega aquí la url de Google Play"><br>
					<div class="text-center" style="margin: 8px;">
						<a href="">¿Aún no  publicas tu App? Hacé clic aquí para subirla</a><br>
					</div>
					<label class="gc-label">Descripción (Opcional)</label><br>
					<textarea style="width:100%" cols="30" rows="4" class="form-control" placeholder="Por ejemplo: esta aplicación es muy estable, super simple de usar y tiene más de 20 opciones de personalización. Además estoy orgulloso de lo lic}viana que es."></textarea>
				</div>
				<div class="wrapper-3">
					<button class="btn btn-block btn-success">ACEPTAR</button>
				</div>
			</div>
		</div>	
	</div>
</div>

<style>
	
.wrapper-1 {
	border: solid 1px gray;
	border-radius: 5px;
	padding: 20px;
	background-color: #444; 
}

.wrapper-2 {
	border: solid 1px transparent;
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	/*padding-bottom: 5px;*/
}

.wrapper-3 {
	padding: 0px;
	margin-top:20px;
	/*padding-top: 5px;*/
}
.background {
background-image: url(img/presentation-developers.png);
       background-repeat: no-repeat;
       background-attachment: initial;
       background-position: center;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       height:94.8vh;
}

</style>

