<div ng-controller="devNewAppController" ng-init="initNewApp();"> 
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 main">            
        <div class="row page-header"> 
          <div class="col-md-6">
            <h1>Publicar App</h1>  
          </div><!-- /.col-md-2 -->
          <div class="col-md-2">
            <a href="" ng-click="changePageNewAppDev(1)">Continuar un borrador</a>
          </div><!-- /.col-md-2 -->
          <div class="col-md-2">
            <button type="button" class="btn btn-info" ng-click="saveDraftCopyNewAppDev()">Guardar Borrador</button>  
          </div><!-- /.col-md-2 -->
          <div class="col-md-2"><!-- OK-CANCEL BUTTONS -->
            <button type="button" class="btn btn-primary" ng-click="saveAndSendNewAppDev()">Enviar a revisión</button>
          </div><!-- /OK-CANCEL BUTTONS --> 
        </div><!-- /.row page-header -->
      </div><!-- /.col-md-12 main -->
    </div><!-- /.row -->
  </div><!-- /.col-md-12 -->
    <uib-tabset active="indexTab">
      <uib-tab index="0" heading="DATOS PRINCIPALES">
        <form><!-- FORM -->
          <div class="row"> <!-- APP o JUEGO -->
            <div class="col-md-12">
              <br>
              <div class="col-md-3">
                <div class="jumbotron" style="padding: 35px;">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" 
                          ng-model="newApp.Type" value="App"> App
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" 
                          ng-model="newApp.Type" value="Game"> Juego
                  </label>
                </div>  
              </div>
              
              <br><br>
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
          <div class="row"><!-- SUB FORM 1-->
            <div class="col-md-8">
              <div class="form-group" ng-class="{'has-error' : !newApp.Name}">
                <label>Nombre</label>
                <input type="text" class="form-control" ng-model="newApp.Name" tooltip-enable="!newApp.Name" tooltip-placement="top" tooltip-trigger="'mouseenter'">
              </div>
              <div class="form-group" ng-class="{'has-error' : !newApp.Title}">
                <label>Título Promocional</label>
                <input type="text" class="form-control" ng-model="newApp.Title" tooltip-enable="!newApp.Title" tooltip-placement="top" tooltip-trigger="'mouseenter'">
              </div>
              <div class="form-group" ng-class="{'has-error' : !newApp.Description}">
                <label>Descripción</label>
                <textarea type="text" class="form-control" rows="4" ng-model="newApp.Description" tooltip-enable="!newApp.Description" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
              </div>
              <div class="form-group" ng-class="{'has-error' : !newApp.Version}">
                <label>Versión Demo</label>
                <input type="text" class="form-control" ng-model="newApp.Version" tooltip-enable="!newApp.Version" tooltip-placement="top" tooltip-trigger="'mouseenter'">
              </div>
              <div class="form-group" ng-class="{'has-error' : !newApp.Demo_Url}">
                <label>URL de la versión demo</label>
                <input type="text" class="form-control" ng-model="newApp.Demo_Url" tooltip-enable="!newApp.Demo_Url" tooltip-placement="top" tooltip-trigger="'mouseenter'">
              </div>
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <a href="" class="thumbnail">
                <img src="https://i.imgur.com/EM7Bwbm.gif">
              </a>
            </div><!-- /.col-md-4 -->          
          </div><!-- /.row --><!-- /SUB FORM 1-->  
          <div class="row">
            <div class="col-md-8"><!-- SUB FORM 2 -->
              <div class="row">
                <label class="col-md-12">Icono</label>
                <div class="col-md-3">
                  <input type="file" id="uploadIconPath" style="opacity:0" onchange="angular.element(this).scope().setIcon(this)">
                  <a href="" class="thumbnail" ng-click="upload('#uploadIconPath')">
                    <img ng-src="{{newApp.iconPath}}">
                  </a>
                </div>
              </div>
              <div class="row">
                <label class="col-md-12">Cabecera</label>
<!--                 <div class="col-md-6">
                  <input type="file" id="uploadHeadSmall" style="opacity:0" onchange="angular.element(this).scope().setHeaderSmall(this)">
                   <a href="" class="thumbnail" ng-click="upload('#uploadHeadSmall')">
                     <img ng-src="{{newApp.headerSmallPath}}">
                   </a>
                </div> -->
                <div class="col-md-6">
                  <input type="file" id="uploadHeaderBigPath" style="opacity:0" onchange="angular.element(this).scope().setHeaderBig(this)">
                  <a href="" class="thumbnail" ng-click="upload('#uploadHeaderBigPath')">
                    <img ng-src="{{newApp.headerBigPath}}">
                  </a>
                </div>    
              </div>
              <div class="row">
                  <label class="col-md-12">Screenshots</label>
                  <div class="col-md-3">
                    <input type="file" id="uploadScreenshotPath" style="opacity:0" onchange="angular.element(this).scope().setScreenshot(this)">
                    <a href="" class="thumbnail" ng-click="upload('#uploadScreenshotPath')">
                      <img ng-src="{{newApp.screenshotPath}}">
                    </a>
                  </div>
              </div>
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <a href="" class="thumbnail">
                <img src="https://i.imgur.com/EM7Bwbm.gif">
              </a>
            </div><!-- /.col-md-4 -->          
          </div><!-- /.row --><!-- /SUB FORM 2-->  
          <div class="row">
            <div class="col-md-8"><!-- SUB FORM 3 -->
              <div class="form-group" ng-class="{'has-error' : !newApp.Video_Url}">
                <label>URL del video promocional</label>
                <input type="text" class="form-control" ng-model="newApp.Video_Url" tooltip-enable="!newApp.Video_Url" tooltip-placement="top" tooltip-trigger="'mouseenter'">
              </div>
              <div class="form-group" ng-class="{'has-error' : !newApp.versionNotes}">
                <label>Notas de la versión</label>
                <textarea type="text" class="form-control" rows="4" ng-model="newApp.versionNotes" tooltip-enable="!newApp.versionNotes" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
              </div>
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <a href="" class="thumbnail">
                <img src="https://i.imgur.com/EM7Bwbm.gif">
              </a>
            </div><!-- /.col-md-4 -->          
          </div><!-- /.row --><!-- /SUB FORM 3-->  
          <div class="row">
            <div class="col-md-8"><!-- SUB FORM 4 -->            
              <div class="row"><!-- Element Selector-->
                  <label class="col-md-12">Características principales para clientes</label>
                  <div class="col-md-12"><!-- All Elements -->
                    <br>
                    <div class="row">
                      <div class="col-md-4"
                      style="border-right: 1px solid darkgray;margin-top: 20px;"><!-- Single Element -->
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <input type="file" id="uploadPrincipalFeatureImg" style="opacity:0" onchange="angular.element(this).scope().setprincipalFeatureImg1(this)">
                                <a href="" class="thumbnail" ng-click="upload('#uploadPrincipalFeatureImg')">
                                  <img ng-src="{{newApp.principalFeatureImg1}}">
                                </a>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.principalFeatureTitle1}">
                                <label>Título</label>
                                <textarea type="text" class="form-control" rows="2" style="resize: none;" 
                                maxlength="35" ng-model="newApp.principalFeatureTitle1" tooltip-enable="!newApp.principalFeatureTitle1" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.principalFeatureDescription1}">
                                <label>Descripción</label>
                                <textarea type="text" class="form-control" rows="6" style="resize: none;" 
                                maxlength="160" ng-model="newApp.principalFeatureDescription1" tooltip-enable="!newApp.principalFeatureDescription1" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Element --> 
                      <div class="col-md-4"
                      style="border-right: 1px solid darkgray;margin-top: 20px;"><!-- Single Element -->
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <input type="file" id="uploadPrincipalFeatureImg2" style="opacity:0" onchange="angular.element(this).scope().setprincipalFeatureImg2(this)">
                              <a href="" class="thumbnail" ng-click="upload('#uploadPrincipalFeatureImg2')">
                                <img ng-src="{{newApp.principalFeatureImg2}}">
                              </a>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.principalFeatureTitle2}">
                                <label>Título</label>
                                <textarea type="text" class="form-control" rows="2" style="resize: none;" 
                                maxlength="35" ng-model="newApp.principalFeatureTitle2" tooltip-enable="!newApp.principalFeatureTitle2" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.principalFeatureDescription2}">
                                <label>Descripción</label>
                                <textarea type="text" class="form-control" rows="6" style="resize: none;" 
                                maxlength="160" ng-model="newApp.principalFeatureDescription2" tooltip-enable="!newApp.principalFeatureDescription2" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Element --> 
                      <div class="col-md-4"
                      style="border-right: 1px solid darkgray;margin-top: 20px;"><!-- Single Element -->
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <input type="file" id="uploadPrincipalFeatureImg3" style="opacity:0" onchange="angular.element(this).scope().setprincipalFeatureImg3(this)">
                              <a href="" class="thumbnail" ng-click="upload('#uploadPrincipalFeatureImg3')">
                                <img ng-src="{{newApp.principalFeatureImg3}}">
                              </a>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Título</label>
                                <textarea type="text" class="form-control" rows="2" style="resize: none;" 
                                maxlength="35" ng-model="newApp.principalFeatureTitle3"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Descripción</label>
                                <textarea type="text" class="form-control" rows="6" style="resize: none;" 
                                maxlength="160" ng-model="newApp.principalFeatureDescription3"></textarea>
                              </div>
                            </div>
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Element -->                                                        
                    </div><!-- /.row -->
                    <br>
                  </div><!-- /.col-md-12 --><!-- /All Elements -->
              </div><!-- Element Selector-->
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <a href="" class="thumbnail">
                <img src="https://i.imgur.com/EM7Bwbm.gif">
              </a>
            </div><!-- /.col-md-4 -->          
          </div><!-- /.row --><!-- /SUB FORM 4-->  
          <div class="row">
            <div class="col-md-8"><!-- SUB FORM 5 -->            
              <div class="row"><!-- Element Selector-->
                  <label class="col-md-12">Características principales para el cliente final</label>
                  <div class="col-md-12"><!-- All Elements -->
                    <br>
                    <div class="row">
                      <div class="col-md-4"
                      style="border-right: 1px solid darkgray;margin-top: 20px;"><!-- Single Element -->
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <input type="file" id="uploadFinalPrincipalFeatureDescription1" style="opacity:0" onchange="angular.element(this).scope().setfinalPrincipalFeatureImg1(this)">
                              <a href="" class="thumbnail" ng-click="upload('#uploadFinalPrincipalFeatureDescription1')">
                                <img ng-src="{{newApp.finalPrincipalFeatureImg1}}">
                              </a>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.finalPrincipalFeatureTitle1}">
                                <label>Título</label>
                                <textarea type="text" class="form-control" rows="2" style="resize: none;" 
                                maxlength="35" ng-model="newApp.finalPrincipalFeatureTitle1" tooltip-enable="!newApp.finalPrincipalFeatureTitle1" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.finalPrincipalFeatureDescription1}">
                                <label>Descripción</label>
                                <textarea type="text" class="form-control" rows="6" style="resize: none;" 
                                maxlength="160" ng-model="newApp.finalPrincipalFeatureDescription1" tooltip-enable="!newApp.finalPrincipalFeatureDescription1" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Element --> 
                      <div class="col-md-4"
                      style="border-right: 1px solid darkgray;margin-top: 20px;"><!-- Single Element -->
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <input type="file" id="uploadFinalPrincipalFeatureDescription2" style="opacity:0" onchange="angular.element(this).scope().setfinalPrincipalFeatureImg2(this)">
                              <a href="" class="thumbnail" ng-click="upload('#uploadFinalPrincipalFeatureDescription2')">
                                <img ng-src="{{newApp.finalPrincipalFeatureImg2}}">
                              </a>

                              <!-- <input type="file" id="uploadPrincipalFeatureImg" style="opacity:0" onchange="angular.element(this).scope().setHeaderSmall(this)">
                              <a href="" class="thumbnail" ng-click="upload('#uploadPrincipalFeatureImg')">
                                <img ng-src="{{newApp.principalFeatureImg}}">
                              </a> -->
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.finalPrincipalFeatureTitle2}">
                                <label>Título</label>
                                <textarea type="text" class="form-control" rows="2" style="resize: none;" 
                                maxlength="35" ng-model="newApp.finalPrincipalFeatureTitle2" tooltip-enable="!newApp.finalPrincipalFeatureTitle2" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.finalPrincipalFeatureDescription2}">
                                <label>Descripción</label>
                                <textarea type="text" class="form-control" rows="6" style="resize: none;" 
                                maxlength="160" ng-model="newApp.finalPrincipalFeatureDescription2" tooltip-enable="!newApp.finalPrincipalFeatureDescription2" tooltip-placement="top" tooltip-trigger="'mouseenter'"></textarea>
                              </div>
                            </div>
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Element --> 
                      <div class="col-md-4"
                      style="border-right: 1px solid darkgray;margin-top: 20px;"><!-- Single Element -->
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                              <input type="file" id="uploadFinalPrincipalFeatureDescription3" style="opacity:0" onchange="angular.element(this).scope().setfinalPrincipalFeatureImg3(this)">
                              <a href="" class="thumbnail" ng-click="upload('#uploadFinalPrincipalFeatureDescription3')">
                                <img ng-src="{{newApp.finalPrincipalFeatureImg3}}">
                              </a>

                              <!-- <input type="file" id="uploadPrincipalFeatureImg" style="opacity:0" onchange="angular.element(this).scope().setHeaderSmall(this)">
                              <a href="" class="thumbnail" ng-click="upload('#uploadPrincipalFeatureImg')">
                                <img ng-src="{{newApp.principalFeatureImg}}">
                              </a> -->
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Título</label>
                                <textarea type="text" class="form-control" rows="2" style="resize: none;" 
                                maxlength="35" ng-model="newApp.finalPrincipalFeatureTitle3"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Descripción</label>
                                <textarea type="text" class="form-control" rows="6" style="resize: none;" 
                                maxlength="160" ng-model="newApp.finalPrincipalFeatureDescription3"></textarea>
                              </div>
                            </div>
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Element -->                                                        
                    </div><!-- /.row -->
                    <br>
                  </div><!-- /.col-md-12 --><!-- /All Elements -->
              </div><!-- Element Selector-->
            </div><!-- /.col-md-8 -->
            <div class="col-md-4">
              <a href="" class="thumbnail">
                <img src="https://i.imgur.com/EM7Bwbm.gif">
              </a>
            </div><!-- /.col-md-4 -->          
          </div><!-- /.row --><!-- /SUB FORM 5-->  
          <div class="row">
            <div class="col-md-8"><!-- SUB FORM 6 -->            
              <div class="form-group" ng-class="{'has-error' : !newApp.keywords}">
                <label>Palabras clave</label>
                <input type="text" class="form-control" ng-model="newApp.keywords" tooltip-enable="!newApp.keywords" tooltip-placement="top" tooltip-trigger="'mouseenter'">
              </div>             
              <br>
            </div><!-- /.col-md-8 -->
          </div><!-- /.row --><!-- /SUB FORM 6 -->
          <div class="row">
          </div> 
        </form><!-- /FORM -->
        <br><br><br><br><br>
      </uib-tab>
      <uib-tab index="1" heading="PLANES Y PERSONALIZACIÓN" ng-hide="">
        <form><!-- FORM -->
          <div class="row">
            <div class="col-md-12">
              <br>       
              <div class="row"><!-- Element Selector-->
                  <div class="col-md-12"><!-- All Elements -->
                    <div class="row">
                      <div class="col-md-4"><!-- Single Plan -->
                        <div class="container-fluid single-plan">
                          <div class="row">
                            <div class="col-md-12 text-center lead">
                              <span class="glyphicon glyphicon-flash" aria-hidden="true"></span> 
                              <span class="">PLAN RÁPIDO</span>
                              <br>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.fastPlan.costMakeChange}">
                                <label>Costo de implementación de cambios</label>
                                <input type="text" class="form-control" ng-model="newApp.fastPlan.costMakeChange" tooltip-enable="!newApp.fastPlan.costMakeChange" tooltip-placement="top" tooltip-trigger="'mouseenter'">
                              </div>
                            </div>
                            <div class="col-md-12"> 
                              <div class="form-group" ng-class="{'has-error' : !newApp.fastPlan.timeMakeChange}">
                                <label>Tiempo para implementar los cambios</label>
                                <input type="text" class="form-control" ng-model="newApp.fastPlan.timeMakeChange" tooltip-enable="!newApp.fastPlan.timeMakeChange" tooltip-placement="top" tooltip-trigger="'mouseenter'">
                              </div>
                            </div>                          
                            <div class="col-md-12">
                              <label>Características</label>
                              <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                      <tbody>
                                        <tr ng-repeat="x in newApp.fastPlan.requirements">
                                          <td>{{$index}}<br>
                                              {{x.title}}<br>
                                              {{x.description}}<br>
                                              {{x.format}}<br>
                                              {{x.duration}}<br>
                                              {{x.maxLength}}<br>
                                              {{x.width}}<br>
                                              {{x.height}}<br>
                                              {{x.size}}<br>
                                              {{x.fileSize}}<br>
                                          </td>
                                          <td><button type="button" class="btn btn-primary btn-circle" ng-click="editFastPlan($index);"><i class="glyphicon glyphicon-pencil"></button></td>
                                          <td><button type="button" class="btn btn-danger btn-circle" ng-click="deleteFastPlan($index);"><i class="glyphicon glyphicon-remove"></i></button></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                              </div> 
                            </div>                          
                            <div class="col-md-12"><!-- OK-CANCEL BUTTONS -->
                              <button type="button" class="btn btn-success" ng-click="newFastPlan();">Agregar Requerimientos</button>
                            </div><!-- /OK-CANCEL BUTTONS -->                                                                       
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Plan --> 
                      <div class="col-md-4"><!-- Single Plan -->
                        <div class="container-fluid single-plan">
                          <div class="row">
                            <div class="col-md-12 text-center lead">
                              <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> 
                              <span class="">PLAN STANDARD</span>
                              <br>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.standarPlan.costMakeChange}">
                                <label>Costo de implementación de cambios</label>
                                <input type="text" class="form-control" ng-model="newApp.standarPlan.costMakeChange" tooltip-enable="!newApp.standarPlan.costMakeChange" tooltip-placement="top" tooltip-trigger="'mouseenter'">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.standarPlan.timeMakeChange}">
                                <label>Tiempo para implementar los cambios</label>
                                <input type="text" class="form-control" ng-model="newApp.standarPlan.timeMakeChange" tooltip-enable="!newApp.standarPlan.timeMakeChange" tooltip-placement="top" tooltip-trigger="'mouseenter'">
                              </div>
                            </div>                          
                            <div class="col-md-12">
                              <label>Características</label>
                              <div class="panel panel-default">
                                <div class="panel-body">
                                    <table class="table table-striped">
                                      <tbody>
                                        <tr ng-repeat="x in newApp.standarPlan.requirements">
                                          <td>{{$index}}<br>
                                              {{x.title}}<br>
                                              {{x.description}}<br>
                                              {{x.format}}<br>
                                              {{x.duration}}<br>
                                              {{x.maxLength}}<br>
                                              {{x.width}}<br>
                                              {{x.height}}<br>
                                              {{x.size}}<br>
                                              {{x.fileSize}}<br>
                                          </td>
                                          <td><button type="button" class="btn btn-primary btn-circle" ng-click="editStandarPlan($index);"><i class="glyphicon glyphicon-pencil"></button></td>
                                          <td><button type="button" class="btn btn-danger btn-circle" ng-click="deleteStandarPlan($index);"><i class="glyphicon glyphicon-remove"></i></button></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                              </div> 
                            </div>
                            <div class="col-md-12"><!-- OK-CANCEL BUTTONS -->
                              <button type="button" class="btn btn-success" ng-click="newStandarPlan();">Agregar Requerimientos</button>
                            </div><!-- /OK-CANCEL BUTTONS -->                                                                      
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Plan --> 
                      <div class="col-md-4"><!-- Single Plan -->
                        <div class="container-fluid single-plan">
                          <div class="row">
                            <div class="col-md-12 text-center lead">
                              <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> 
                              <span class="">PLAN FULL</span>
                              <br>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.fullPlan.costMakeChange}">
                                <label>Costo de implementación de cambios</label>
                                <input type="text" class="form-control" ng-model="newApp.fullPlan.costMakeChange" tooltip-enable="!newApp.fullPlan.costMakeChange" tooltip-placement="top" tooltip-trigger="'mouseenter'">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group" ng-class="{'has-error' : !newApp.fullPlan.timeMakeChange}">
                                <label>Tiempo para implementar los cambios</label>
                                <input type="text" class="form-control" ng-model="newApp.fullPlan.timeMakeChange" tooltip-enable="!newApp.fullPlan.timeMakeChange" tooltip-placement="top" tooltip-trigger="'mouseenter'">
                              </div>
                            </div>                          
                            <div class="col-md-12">
                              <label>Características</label>
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <table class="table table-striped">
                                    <tbody>
                                      <tr ng-repeat="x in newApp.fullPlan.requirements">
                                        <td>{{$index}}<br>
                                            {{x.title}}<br>
                                            {{x.description}}<br>
                                            {{x.format}}<br>
                                            {{x.duration}}<br>
                                            {{x.maxLength}}<br>
                                            {{x.width}}<br>
                                            {{x.height}}<br>
                                            {{x.size}}<br>
                                            {{x.fileSize}}<br>
                                        </td>
                                        <td><button type="button" class="btn btn-primary btn-circle" ng-click="editFullPlan($index);"><i class="glyphicon glyphicon-pencil"></button></td>
                                        <td><button type="button" class="btn btn-danger btn-circle" ng-click="deleteFullPlan($index);"><i class="glyphicon glyphicon-remove"></i></button></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div> 
                            </div>
                            <div class="col-md-12"><!-- OK-CANCEL BUTTONS -->
                              <button type="button" class="btn btn-success" ng-click="newFullPlan();">Agregar Requerimientos</button>
                            </div><!-- /OK-CANCEL BUTTONS -->                                                              
                          </div><!-- /.row -->
                        </div><!-- /.container-fluid -->
                      </div><!-- /.col-md-4 --><!-- /Single Plan -->                                                                          
                    </div><!-- /.row -->
                    <br>
                  </div><!-- /.col-md-12 --><!-- /All Elements -->
              </div><!-- /Element Selector-->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </form><!-- /FORM -->
      </uib-tab>
      <uib-tab index="2" heading="ESTADÍSTICAS">
        ESTADISTICAS
      </uib-tab>
      <uib-tab index="3" heading="CALIFICACIONES">
        CALIFICACIONES
      </uib-tab>
    </uib-tabset>  
  </div>
</div>

<style>

    .btn-circle.btn-lg {
        width: 40px;
        height: 40px;
        padding: 8px 11px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 13px;
    }

    .btn-circle {
      width: 25px;
      height: 25px;
      text-align: center;
      padding: 4px 6px;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }

</style>
